edge/Node-RED-REST.json
[
    {
        "id": "f1dd9383.9968b",
        "type": "tab",
        "label": "MQTT to REST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "df92ef0.9ff3e1",
        "type": "mqtt in",
        "z": "f1dd9383.9968b",
        "name": "",
        "topic": "iotkit/alert",
        "qos": "2",
        "datatype": "auto",
        "broker": "8bf276d0.ab9338",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "f27144e9.024e58",
                "2cdcb57c.95fcda"
            ]
        ]
    },
    {
        "id": "f27144e9.024e58",
        "type": "debug",
        "z": "f1dd9383.9968b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "1b516bca.97aaf4",
        "type": "http request",
        "z": "f1dd9383.9968b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://camunda:8080/engine-rest/process-definition/key/RechnungStep3/start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "8a6cfac7.0ed5e8"
            ]
        ]
    },
    {
        "id": "8a6cfac7.0ed5e8",
        "type": "debug",
        "z": "f1dd9383.9968b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "2cdcb57c.95fcda",
        "type": "change",
        "z": "f1dd9383.9968b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"variables\":{\"rnr\":{\"value\":\"123\",\"type\":\"long\"},\"rbetrag\":{\"value\":\"200.00\",\"type\":\"String\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1b516bca.97aaf4"
            ]
        ]
    },
    {
        "id": "8bf276d0.ab9338",
        "type": "mqtt-broker",
        "z": "",
        "name": "mosquitto",
        "broker": "iotkit.mc-b.ch",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]